body {
    background: #384047;
    font-family: sans-serif;
}
section {
    background: #fff;
    padding: 1em;
    max-width: 800px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 5px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 1em;
}

table {
    margin: 0 auto;
    overflow-x: auto;
    border-spacing: 0;
}

caption {
    font-size: 1.2em;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    letter-spacing: 2px;
  }

tbody>tr:hover {background-color: #D6EEEE;}